@import "../sass/utilities/Variables.scss";

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $color-background;
}
.loading {
  font-size: 2em;
  margin: 0.5em;
  text-align: center;
}
