@import "../sass/utilities/Variables.scss";

.button {
  padding: 0.4em 0.6em;
  background-color: $color-primary;
  border-radius: 0.5em;
  border: solid 1px $color-primary;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: transparent;
    color: #000;
  }
}
