@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./sass/utilities/Variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $color-background;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-container {
  min-height: calc(100vh - 2.5em);
  overflow: hidden;
}
