@import "../sass/utilities/Variables.scss";

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  height: 35vh;
  background-color: $color-primary;
  color: $color-secondary;

  .title {
    font-size: 8em;
    text-transform: uppercase;
  }

  .infos-wrapper {
    text-align: center;
    width: 100%;
    border-left: solid 1px $color-secondary;
    .info {
      font-size: 3em;
      animation: appear 1.2s ease-in-out;
    }
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
