.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 30%;
  margin-bottom: 1em;
  padding: 1em;
  border-bottom: solid 1px #1d3c40;
  border-right: solid 1px #1d3c40;
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.29);
  }
  &Image {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }
  &Title {
    font-size: 1.5em;
  }
  &BottomWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
